/* footer{
    width: 100%;
    background-image: url(../../image/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .footer-container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 30px;
}
.footerheanding{
    color: white;
    font-size: 40px;
    text-align: center;
}
.footerheanding::after {
    content: '';
    display: block;
    border-top: 1px solid white;
    margin: 0 auto;
    width: 50%;
}
.footerbox{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footerboxfirst{
    width: 23%;
    height: auto;
    border: 1px solid white;
    padding: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    box-sizing: border-box;
}
.footerboxfirst i{
    font-size: 30px;
}
.footertext{
    text-align: center;
}

@media (max-width:768px){
    .footerbox{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footerboxfirst{
        width: 100%;
    }
} */



.footer{
    height: auto;
    /* margin-top: -10%; */
    background-color: #1A1A1A;
    color: white;
}
.footerheading{
    font-size: 18px;
    font-weight: 700;
}
.fotertext{
    font-size: 16px;
    font-weight: 500;
    /* line-height: 10px; */
}
.fotertextlink{
    font-size: 16px;
    font-weight: 500;
    /* line-height: 1px; */
}
.footermain{
    padding: 60px 90px;
    display: flex;
    justify-content:space-between;
    gap: 60px;
}
.first{
    width: 32%;
}
.second{
    width: 32%;
}
/* .third{
    width: 32%;
} */
.four{
    width: 32%;
}
.iconset{
    display: flex;
    gap:10px;
    font-size: 40px;
    cursor: pointer;
}
.fotertextlink a{
    text-decoration: none;
    color: white;
}
.second div{
    display: flex;
    gap: 40px;
/* justify-content:; */
text-align: justify;
}
@media(max-width:768px){
    .footermain{
        padding: 10px 10px;
        display: flex;
        justify-content:space-between;
        flex-direction: column;
    }
    .first{
        width: 100%;
    }
    .second{
        width: 100%;
    }
    .third{
        width: 100%;
    }
    .four{
        width: 100%;
    }
}