.achivmentmain {
    /* margin-top: 50px; */
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.achivmentdiv {
    margin-top: 60px;
}

.achivmentheading {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: rgb(57, 93, 160);
}


.timeline {
    position: relative;
    width: 100%;
    margin: 20px auto;
    background-color:#F1F1F1;
    /* margin-bottom: 20px; */
}

.containertimeline {
    padding: 10px 50px;
    position: relative;
    width: calc(50% - 33px);
    margin: 10px;
    animation: movedown 0.5s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.containertimeline:nth-child(1) {
    animation-delay: 0s;
}

.containertimeline:nth-child(2) {
    animation-delay: 1s;
}

.containertimeline:nth-child(3) {
    animation-delay: 2s;
}

.containertimeline:nth-child(4) {
    animation-delay: 3s;
}

.containertimeline:nth-child(5) {
    animation-delay: 4s;
}

.containertimeline:nth-child(6) {
    animation-delay: 5s;
}

.containertimeline:nth-child(7) {
    animation-delay: 6s;
}

.containertimeline:nth-child(8) {
    animation-delay: 7s;
}

.containertimeline:nth-child(9) {
    animation-delay: 8s;
}

.containertimeline:nth-child(10) {
    animation-delay: 09s;
}

.containertimeline:nth-child(11) {
    animation-delay: 10s;
}

.containertimeline:nth-child(12) {
    animation-delay: 11s;
}

.left_container {
    position: relative;
    left: 50px;
    /* background-color: aqua; */
}

.right_container {
    position: relative;
    left: 47%;

}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    font-weight:600;
}
.timelinetext{
    font-size: 20px;
    font-weight: 700;
    color: #242222dc;
}

.containertimeline .namemannu {
    height: 100px;
    width: 200px;
    position: absolute;
    right: -200px;
    top: 10px;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_container .namemannu {
    left: -200px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    animation: moveline 9s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.left_container_arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -14px;
}

.right_container_arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -14px;
}

@media only screen and (max-width:991px) {
    .timeline {
        margin: 0px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .containertimeline {
        width: 100%;
        /* padding-left: 10px; */
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right_container {
        left: 0;
    }

    .left_container img,
    .right_container img {
        left: 20px;
    }

    .right_container_arrow,
    .left_container_arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -14px;
    }

    .left_container {
        left: 2px;

    }
    .achivmentdiv {
        margin-top:10px;
    }
   
}